# =========================
# Datasets
# =========================
data/
low visibility Final.v2i.coco/

# =========================
# Training outputs
# =========================
runs/

# =========================
# Model weights / exports
# =========================
*.pt
*.onnx

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

#Outputs:
outputs/